# Funciones en python

In [1]:
def suma(x, y):        #def crea una funcion y return es como lo {} de R
    return x + y

In [2]:
#esto es un metodo
class Operaciones(object):
    def suma(self, x, y):
        self.resultado = x + y 
        return self.resultado

In [ ]:
# el primer argumento de un metodo siempre sera self

In [3]:
suma(2, 3)

5

In [4]:
operInstance = Operaciones()

In [5]:
operInstance.suma(2, 3) #como math."algo", aqui el math seria operinstance y suma seria la funcion dentro de esa clase

5

In [6]:
def saludar():
    print("Hola, estoy programando!")
    return

In [7]:
saludar()

Hola, estoy programando!

In [10]:
def saludar():
    name = str(input("Intorduce tu nombre: "))
    if name:
        print("Hola " + name)
    else:
        print("Hola, estoy programando!")
    return

In [11]:
saludar()

Intorduce tu nombre: Martin
Hola Martin

In [12]:
saludar()

Intorduce tu nombre:
Hola, estoy programando!

In [13]:
def sumaresta(x, y):
    suma = x + y
    resta = x - y
    return (suma, resta)

In [14]:
sumaresta(5, 4)

(9, 1)

# Argumentos variables y lamdas

In [15]:
def suma(*args):
    return sum(args)

In [16]:
#cuando no sabemos cuantos argumentos iran en la funcion utilizamos un * delante del parametro que puede variar
#el asterisco delante del parametro representa que no sabemos que longitud ira a tomar dicho parametro

In [17]:
suma(1,2,3,4,5)

15

In [18]:
suma(1,2)

3

In [19]:
suma(1,2,3,4,5,6,7)

28

In [27]:
def sumacuadrados(*datos):
    total = 0
    for d in datos:
        total = total + d**2
       #total += d**2 , lo anterior es lo mismo que la expresion de arriba pero abreviada 
    return total

In [28]:
sumacuadrados(1,2,3,4)

30

In [29]:
sumacuadrados(1,33,-4,3.55,8)

1182.6025

# Funciones anonimas (funcion lambda)

In [30]:
doble = lambda x: x*2

In [31]:
doble(4)

8

In [33]:
cuadrado = lambda x: x**2

In [34]:
cuadrado(5)

25

In [37]:
suma = lambda x, y: x+y #equivalente a la primera funcion del notebook

In [38]:
suma( 300,3)

303

In [39]:
from functools import reduce #importame de la libreria functools, reduce

In [40]:
data = [1,2,3,4,5,6,7,8,9]

In [41]:
data

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
filtered_data =list(filter(lambda x: (x*2 > 8), data)) #filter filtra segun una condicion booleana

In [47]:
filtered_data

[5, 6, 7, 8, 9]

In [50]:
mapped_data = list(map(lambda x: x*2, data)) #map=mapea, mapea es tranformar

In [51]:
mapped_data

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [52]:
reduced_data = reduce(lambda x, y: x+y, data) #coge el primer numero como x (siempre 0), lo suma con y, y a ese resultado
                                              #lo toma como primero nuevamente y lo vuelve a sumar con el siguiente numero
    #redduce acumula los datos que se dan

In [53]:
reduced_data

45