# Listas
Son contenedores que permiten almacenar una coleccion de objetos en un orden determinado. Se pueden acceder de forma sencilla

In [1]:
L1 = [] #Lista vacia

In [2]:
L2 = ["a", "b", "c"] # Lista con valores iniciales

In [3]:
L3 = [2,3,5,7,11] # Lista con valores enteros

In [5]:
L4 = ["a", 5, True, "Juangabriel"] # Lista heterogene con varios tipos de datos diferentes

In [6]:
L4

['a', 5, True, 'Juangabriel']

In [7]:
L5 = [0] * 10

In [8]:
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [9]:
L4 [0] # Las listas en python comienza en la posicion 0. En R en la posicion 1

'a'

In [11]:
L5[4] = 3.1415 # Modificacion de valores

In [12]:
L5

[0, 0, 0, 0, 3.1415, 0, 0, 0, 0, 0]

In [13]:
 L4[0:2] #Incluye el primera elemento pero no el ultimo que se pidio

['a', 5]

In [14]:
L5[1:4] = [1,2,3] # Para modificar igual, solo modifica el primero no el ultimo

In [15]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0]

In [16]:
L5.append(8) # AGrega un nuevo elemento al final de la lista

In [17]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0, 8]

In [18]:
L5.remove(3) # ELimina el primer numero 3 que encuentre en la lista

In [19]:
L5

[0, 1, 2, 3.1415, 0, 0, 0, 0, 0, 8]

In [24]:
L5.reverse() #Invierte la lista

In [25]:
L5

[8, 0, 0, 0, 0, 0, 3.1415, 2, 1, 0]

In [26]:
L5.count(0) # Que cuenta cuantos ceros hay en la lista

6

In [28]:
L5.index(2) # EN que posicion de la lista se encuentra el primer 2

7

In [29]:
len(L5) # La longitud de la lista. L5 tiene 10 elementos

10

In [30]:
L = [1,2,3,4,5,6]

In [31]:
L[1::2] # Muestrame los valores de L desde el elemento 1 en adelante de dos en dos. Saca los elementos pares

[2, 4, 6]

In [32]:
L[:] # Muestra toda la lista

[1, 2, 3, 4, 5, 6]

In [33]:
L[::2] # Muestra los elementos desde el elemento 0 en adelante de dos en dos. Saca los elementos impares

[1, 3, 5]

In [34]:
L[-1] # Muestra el ultimo elemento de la lista

6

In [35]:
8 in L

False

In [36]:
4 in L # Muestra si el valor 4 esta en la lista L

True

# Bucles

Los bucles **for** iteran sobre una coleccion (una lista, un string, un objeto iterable)

In [37]:
for numero in L:
    print(numero)

1
2
3
4
5
6

In [38]:
numero # La lista numero se queda solamente con el ultimo de la iteracion

6

In [39]:
for x in range(0,10): #Equivalente range(0,10) = range(10)
    print(x)

0
1
2
3
4
5
6
7
8
9

In [40]:
for c in "Martin":
    print(c)

M
a
r
t
i
n

In [55]:
notas = [3.5,6.7,8,9,4.5]
suma = 0
for nota in notas:
    suma +nota
print(suma/len(notas))

6.34

In [54]:
nota

4.5

El bucle **while** se repite hasta que una condicion es falsa

In [58]:
count = 0
while count < 10:
    print(count)
    count +=1

0
1
2
3
4
5
6
7
8
9

In [195]:
primos = [2,3,5,7,11,17,19,23,29] # La funcion enumerate muestra la posicion del elemento en la lista. Hay que asignar un iterador en el for para la posicion y el valor
for idx, p in enumerate(primos):
    print(idx, p)

0 2
1 3
2 5
3 7
4 11
5 17
6 19
7 23
8 29

In [63]:
for idx in range(len(primos)): # Obtenemos las posiciones de los elementos de la lista
    print(idx)

0
1
2
3
4
5
6
7
8

#  Tupla
Es una coleccion de objetos que no se pueden modificar (tiene tamaño y contenido fijo).

In [125]:
p3 = (1,2,"a",3.145)

In [126]:
p3

(1, 2, 'a', 3.145)

In [127]:
p3[1]

2

In [128]:
a,b,c,d = p3

In [129]:
a

1

In [130]:
b

2

In [131]:
c

'a'

In [132]:
d

3.145

In [133]:
l3 = list(p3) # A la tupla p3, le transformamos a una lista l3

In [135]:
l3

[1, 2, 'a', 3.145]

In [136]:
p5 = tuple(L5) # A la lista L5 le transformamos a una tupla p5

In [137]:
p5

(8, 0, 0, 0, 0, 0, 3.1415, 2, 1, 0)

In [167]:
x = input("Introduce cualquier cosa: ")
x_lista = x.split(" ")
print(x_lista)
x_tupla = tuple(x_lista)
print(x_tupla)

Introduce cualquier cosa: 6 4 2 3 4 5 65 7 6 5
['6', '4', '2', '3', '4', '5', '65', '7', '6', '5']
('6', '4', '2', '3', '4', '5', '65', '7', '6', '5')

In [169]:
for x in x_lista:
    print(int(x)+1)

7
5
3
4
5
6
66
8
7
6

In [175]:
for x in x_lista:
    suma += int(x)
print(suma/len(x_lista))

35.269999999999996

# Diccionario
Coleccion no ordenada de pares de valores: claves <-> valores. Se indexa no por posiciones, sino por claves

In [193]:
nombre = input("Introduce aqui tu nombre: ")
print("Hola %s"%nombre)

Introduce aqui tu nombre: Martin
Hola Martin

In [196]:
print("Estos son numeros primos: %s"%primos) # %s porque queremos sustituir por un string

Estos son numeros primos: [2, 3, 5, 7, 11, 17, 19, 23, 29]

In [197]:
print("Esto es un numero: %d"%suma) # %d porque queremos sustitior por un numero entero

Esto es un numero: 519

In [198]:
print("Esto es un decimal: %f"%suma) # %f porque queremos sustituir por un numero decimal

Esto es un decimal: 519.700000

In [199]:
print("Esto es un decimal: %.2f"%suma) # %.2f para imprimir con 2 decimales

Esto es un decimal: 519.70

In [210]:
edad = {"Martin": 23,     #Esto es un diccionario. La clave esta entre "" y por lo general es un string, y luego el valor
        "Eduarda": 19, 
        "Fabricio": 51}

In [212]:
edad

{'Martin': 23, 'Eduarda': 19, 'Fabricio': 51}

In [211]:
edad["Martin"]

23

In [213]:
edad["Martin"] = 24

In [214]:
edad

{'Martin': 24, 'Eduarda': 19, 'Fabricio': 51}

In [216]:
edad.keys()

dict_keys(['Martin', 'Eduarda', 'Fabricio'])

In [217]:
edad.values()

dict_values([24, 19, 51])

In [218]:
len(edad)

3

In [219]:
"Pepe" in edad

False

In [220]:
"Martin" in edad

True

In [221]:
"Maria" not in edad

True

In [223]:
del edad["Martin"] # Borra la clave martin

In [224]:
edad

{'Eduarda': 19, 'Fabricio': 51}

In [226]:
notas = {"a1": 5.4, "a2": 4, "a3": 10}

In [227]:
notas

{'a1': 5.4, 'a2': 4, 'a3': 10}

In [228]:
notas["a1"] + 1

6.4